<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ExcelReport.Properties.Settings.pubsConnectionString"
        connectionString="Data Source=10.10.10.125;Initial Catalog=pubs;Persist Security Info=True;User ID=sa;Password=m60246598"
        providerName="System.Data.SqlClient" />
    <add name="DailyReport_Today.Properties.Settings.pubsConnectionString"
        connectionString="Data Source=192.168.0.135;Initial Catalog=VWT_E10;Persist Security Info=True;User ID=manuteq;Password=Mn60246598"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
